<!DOCTYPE html>

<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <link href="/static/styles.css" rel="stylesheet">
    <title>Birthdays</title>
</head>
<body>
<div class="jumbotron">
    <h1>Birthdays</h1>
    <a href="update_entry">UPDATE ENTRIES</a>
</div>
<div class="container">
    <div class="section">
        {% block update_entry %} {% endblock %}
        {% block form %} {% endblock %}
    </div>

    <div class="section">
        {% block table %}{% endblock %}
    </div>
</div>
</body>
</html>
