{% extends "layout.html" %}

{% block main %}

<table>
    <thead>
    <tr>
        <th><b>Symbol</b></th>
        <th><b>Name</b></th>
        <th><b>Shares</b></th>
        <th><b>Price</b></th>
        <th><b>TOTAL</b></th>
    </tr>
    </thead>
    {% for transaction in transactions %}
    <tr>
        <td>{{ transaction['ticker_symbol'] }}</td>
        <td>{{ transaction['name'] }}</td>
        <td>{{ transaction['amount'] }}</td>
        <td>{{ "$" ~ transaction['price'] }}</td>
        <td>{{ "$" ~ transaction['price'] * transaction['amount'] }}</td>
    </tr>
    {% endfor %}
    <tr>
        <td>CASH</td>
        <td></td>
        <td></td>
        <td></td>
        <td>{{ user_balance['cash'] }}</td>
    </tr>
</table>
{% endblock %}